<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>919277209285-et4a7mdno7qee25m4qtj78qnn0aajnsn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919277209285-et4a7mdno7qee25m4qtj78qnn0aajnsn</string>
	<key>API_KEY</key>
	<string>AIzaSyA87m8L4uBzaacw3tJ9pOefSATQfjbW9uw</string>
	<key>GCM_SENDER_ID</key>
	<string>919277209285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Lauren-Kelz.Present</string>
	<key>PROJECT_ID</key>
	<string>present-b2494</string>
	<key>STORAGE_BUCKET</key>
	<string>present-b2494.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919277209285:ios:00e1e7541481d25b0592ac</string>
</dict>
</plist>